*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    border: solid black 1px;
    background-color: black;
    
}

.tree_cont{
   width: 100%;
   height:90vh;
   text-align: center;
   padding-top: 50%;
}
.star{
    font-size: 30px;
    width: 100%;
    height: 30px;
    animation: color infinite linear 2s;
}
.paragraph{
    font-size: 30px;
    animation: color infinite linear 3s;
}

@keyframes color {
    0%{color:rgb(255,0,0)}
    25%{color:rgb(255,255,255)}
    50%{color:rgb(29,122,0)}
    75%{color:rgb(230,255,0)}
    100%{color:rgb(255,0,0)}
}